

.comment-form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .comment-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: none;
    height: '300px auto';
  }
  
  .comment-submit {
    padding: 10px 15px;
    background-color: #020302;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .comment-submit:hover {
    background-color: #050a06; 
  }
  